button.save_button {
  margin-top: 16px;
  margin-right: 5px;
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
  height: 46px;
  width: 46px;
  background-color: greenyellow;
  font-weight: 400;
  color: green;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  border-top-right-radius: 3px;
  border: none;
  align-self: flex-end;
  box-shadow: 0 0 5px rgb(0, 51, 38, 0.5);
}

.save_button:hover {
  box-shadow: 0 0 8px rgb(0, 51, 38, 0.7);
  background-color: rgb(141, 255, 47);

}
.save_button:disabled {
  box-shadow: 0 0 8px #aaa;
  background-color: #eee;
}

.save_button:active {
  box-shadow: 0 0 8px rgb(0, 51, 38, 0.7);
  background-color: rgb(85, 190, 0);

}

.save_button:disabled span {
  color: #fff;
}

.save_button span {
  display: flex;
  align-self: center;
  font-size: 3rem;
  padding-top: 3px;
  line-height: 5;
  rotate: -45deg;
}