
input {
  border: 1px solid rgb(155, 178, 217);
  background-color: #fff;
  border-radius: 15px;
  height: 32px;
  padding: 0 16px;

}

input::placeholder {
  color: #999;
}

input:focus {
  outline: 3px solid rgb(191, 255, 0);
  border: 1px solid (0, 0, 0, 0 )
}