.avatar_item_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: stretch;
  padding: 8px 8px;
  list-style-type: none;
  border-bottom: 1px solid #aaa;
  
}

.item_avatar{
  display:flex;
  height:64px;
  width: 64px;
  border-radius: 8px;
  overflow:hidden;
  margin-right: 8px;
}

.avatar_item_name {
  display: flex;
  flex:1;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 1rem;
  color: #666;
}

button.avatar_delete {
  font-size: .9rem;
  line-height: 1.5rem;
  height:24px;
  width:24px;
  border-radius: 14px;
  border: 0px solid transparent;
  background-color: #ddd
}

.avatar_delete:hover {
  background-color: #ccc;
}

.avatar_delete:active {
  background-color: #aaa;
}